.navbar{
    width: 100%
}
.navbar-brand{
    font-size: 1.5rem;
}
#sublav{
    width: 100%;
}
#topbox{
    margin-top: 50px;
}
iframe{
    width: 600px;
    height: 330px
}
.card{
    width: fit-content;
    height: fit-content;
}
.card-body{
    height: 342px;
}

.card-text{
    font-size:1.5rem ;
}
svg{
    align-items: end;
}
.hidden{
    visibility: hidden;
}
p.btn.btn-primary.export {
    visibility: visible;
}
svg.bi.bi-caret-down-fill{
    visibilty : visible;
    position: absolute;
    top: 5%;
    left: 90%;
}
svg.bi.bi-caret-up-fill{
    visibilty : hidden;
    position: absolute;
    top: 5%;
    left: 90%;
}

@media (max-width: 768px) {
    #me {
        width: max-content;
        padding-right: 10px;
    }
}
