.navbar{
    width: 100vw;
}
.navbar-brand{
    font-size: 1.5rem;
}
#sublav{
    width: 100vw;
}
#topbox{
    margin-top: 50px;
}
iframe{
    width: 600px;
    height: 330px
}
.card{
    width: fit-content;
    height: fit-content;
}
.card-body{
    height: 342px;
}

.card-text{
    font-size:1.5rem ;
}
svg{
    align-items: end;
}
.hidden{
    visibility: hidden;
}
p.btn.btn-primary.export {
    visibility: visible;
}
